<div class="row">

<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item">
      <a href="#"><img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-18-t7.jpg" /></a>
      <div class="carousel-caption">
        <h1>Fitbit Blaze</h1>
        <hr class="my-2">
        <h3>SMART FITNESS WATCH</h3><br>
         <p class="lead">
        <a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
        </p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-18-t11.jpg" /></a>
      <div class="carousel-caption">
       <h1>Fitbit Surge</h1>
        <hr class="my-2">
        <h3>FITNESS SUPER WATCH</h3><br>
         <p class="lead">
        <a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
        </p>
      </div>
    </div>
    <div class="item active">
      <a href="#"><img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-18-t9.jpeg" /></a>
      <div class="carousel-caption">
        <h1>Fitbit Alta</h1>
        <hr class="my-2">
        <h3>FITNESS WRISTBAND</h3><br>
         <p class="lead">
        <a class="btn btn-danger btn-lg" href="/products" role="button">SHOP NOW</a>
        </p>

      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<section class="wrap-3d">

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/aw-red.png" alt="" />
      </div>
      <figcaption class="item-caption">
        
          <h2>Fitbit Blaze</h2>
          On-Screen Workouts<br>
          All-Day Activity<br>
          Retina Display<br>
          Smartphone Notification
        </p>
        <p>
          <h2>Sport Band</h2>
          Long Battery Life<br>
          Stainless Steel Pin
        </p>
        <p>
          <a href="/products?category=Blaze" class="btn btn-sm btn-danger" role="button">Show More...</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-17-band1_burned.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <h2>Fitbit Charge</h2>
          Multi-Sport Modes<br>
          PurePulse® Heart Rate<br>
          Retina Display<br>
          Connected GPS
        </p>
        <p>
          <h2>Sport Band</h2>
          Wireless Syncing<br>
          Stainless Steel blue
        </p>
        <p>
          <a href="/products?category=Charge+2" class="btn btn-sm btn-danger" role="button">Show More...</a>
        </p>
      </figcaption>
    </figure>
  </div>

    <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-18-AltaHER-2_burned.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <div>
          <h2>Fitbit Alta</h2>
          
            All-Day Activity<br>
            Smartphone Notifications<br>
            Retina Display<br>
            Shower-proof
          
        <p>
        <h2>Sport Band</h2>
          Auto Sleep Tracking & Silent Alarms<br>
          Stainless Steel Pin
        </p>
      
        <p>
          <a href="/products?category=Alta" class="btn btn-sm btn-danger" role="button">Show More...</a>
        </p>
        </div>
      </figcaption>
    </figure>
  </div>
  
  
  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-18-flex_burned%20-1-.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <div>
          <h2>Fitbit Flex 2</h2>
          
            All-Day Activity Tracking <br>
            LED Display<br>
            Smartphone Notifications<br>
            Wireless Syncing
          
        </div>
        <p>
        <h2>Sport Band</h2><br>
          Auto Sleep Tracking & Silent Alarms<br>
          Stainless Steel Pin
        </p>
        <p>
          <a href="/products?category=Flex+2" class="btn btn-sm btn-danger" role="button">Show More...</a>
        </p>
      </figcaption>
    </figure>
  </div>
  
  <footer class="footer">
  <div class="row">
   
    <div class="col-md-4">
      <i class="fa fa-eye-slash fa-5x" aria-hidden="true"></i><h3>SmartTrack™</h3>
      <p>Automatically recognizes select activities and records it in the exercise section of the Fitbit app.</p>
    </div>

    <div class="col-md-4">
      <i class="fa fa-heart fa-5x" aria-hidden="true"></i><h3>PurePulse® Heart Rate</h3>
      <p>Get continuous, automatic, wrist-based heart rate & simplified heart rate zones. Learn more.</p>
    </div>
     
    <div class="col-md-4">
      <i class="fa fa-moon-o fa-5x" aria-hidden="true"></i><h3>Auto Sleep Tracking & Silent Alarms</h3>
      <p>Automatically track your sleep quality & wake up peacefully with a silent alarm.</p><br><br>
    </div>
    
    <div>
      <%= link_to("SHOP NOW", products_path, :class => "btn btn-primary btn-lg btn-danger") %>
    </div>
  </div>
  </footer>
</section>
</div>